
.card{
  margin: 20px 0;
}

.card-body{
  align-items: flex-start;
}

.avatar i{
  font-size: 1rem;
  color: var(--gray-color);
  background-color: var(--gray-stroke);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historial-wrapper {
  padding: 20px;
}

/* PACIENTES GRID */
.patients-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.patient-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  border: var(--gray-color) solid 1px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.patient-item:hover {
  background: #eee;
}

.patient-item.active {
  background: #e0e0e0;
}

.hidden {
  display: none !important;
}

.no-results {
  color: #555;
  font-weight: 500;
}

/* SECCIONES */
.section {
  margin-top: 20px;
}

/* TARJETAS VACUNAS APLICADAS */
.vaccine-applied {
  margin-top: 15px;
  border-radius: 15px;
  background: #fafafa;
}

.vaccine-applied .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dose {
  background: #bbdefb;
  color: #1565c0;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.observation {
  display: block;
  padding: 8px;
  background: #eee;
  border-radius: 8px;
  font-size: 13px;
}

.btn-esquema {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0 1.5rem;
  padding: 0.55rem 1.2rem;
  background: var(--secondary-color);
  color: var( --light-color);
  font-size: 0.88rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
}

.btn-esquema:hover { 
  transition: background .2s;
  background: #ffffff;
  color: var(--secondary-color);
}

/* PROXIMAS VACUNAS */
.next-vaccines {
  margin-top: 30px;
}

.next-card {
  display: flex;
  justify-content: space-between;
  background: #d0ecf7;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.next-card .date {
  font-weight: bold;
  color: #0277bd;
}

.extra{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.risk{
  padding:5px 10px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
}

.risk.low{
  background:var(--good-background);
  color:var(--good-color);
}

.risk.high{
  background:var(--bad-background);
  color:var(--bad-color);
}

.risk.mid{
  background:var(--medium-background);
  color:var(--medium-color);
}

/* ===== TAGS ===== */
.blood{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--bad-color);
}

.blood i{
    color: var(--bad-color);
}

.blood.A{
    background: none;
}