{% extends 'base.html' %}

{% block title %}Pacientes - Sistema Clínico{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/esquemaVacunacion.css') }}">

<a href="{{ url_for('vacunas_page') }}" class="back"><i class="fa-solid fa-arrow-left"></i> Regresar</a>
        <div class="content-header">
            <h2 class="title">Esquema oficial de vacunación</h2>
        </div>
        <div class="content-info">
            <table>
                <thead>
                    <tr>
                        <th>Vacuna</th>
                        <th>Edad recomendada</th>
                        <th>Dosis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for esquema_item, vacuna_item in esquema %}
                    <tr>
                        <td><strong>{{ vacuna_item.name }}</strong></td>
                        <td>
                            {% if esquema_item.ideal_age_months == 0 %}
                                <span class="badge-birth">Al nacer</span>
                            {% elif esquema_item.ideal_age_months >= 12 %}
                                {{ esquema_item.ideal_age_months // 12 }} años
                            {% else %}
                                {{ esquema_item.ideal_age_months }} meses
                            {% endif %}
                        </td>
                        <td>{{ esquema_item.dose_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </main>
</div>

{% endblock %}