<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login - Sistema Clínico de Vacunación</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

<!-- Login Container -->
<div class="login-container">

    <!-- Title -->
    <h1 class="titulo-sistema">Sistema Clínico de Vacunción</h1>

    <!-- User Icon -->
    <div class="icon-group">
        <i class="fa-solid fa-user"></i>
    </div>

    <!-- Login subtitle -->
    <h2 class="login-title">Inicia Sesión</h2>

    <!-- Login Form -->
    <form class="login-form" method="POST">

        <!-- Usuario -->
        <label class="label">Usuario</label>

        <div class="input-box usuario-box">
            <input type="email" name="mail" placeholder="mail" required>
        </div>

        <!-- Contraseña -->
        <label class="label">Contraseña</label>

        <div class="input-box password-box">
            <input type="password" name="password" placeholder="****" required>
            <!-- <i class="fa-solid fa-eye"></i> -->
        </div>

        <!-- Login Button -->
        <button type="submit" class="login-button">Iniciar sesión</button>
    </form>

    
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <!-- Forgot password -->
    <a href="#" class="forgot-password">
        ¿Olvidó su contraseña?
    </a>

</div>

</body>
</html>
