```html
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Vacunas - Sistema Clínico</title>
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/vacunas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>

<body>

<!-- TOPBAR -->
<div class="main-layout">

    <!-- TOP BAR -->
    <div class="topbar">
        <div class="clinic-title">ClínicaNuevoLeón</div>

        <div class="search-bar-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar paciente, vacuna o doctor...">
        </div>

        
        <button class="btn-reporte">
            <i class="fa-solid fa-plus"></i>
             Generar reporte
        </button>
        
        <div class="profile-circle">
            <span>RG</span>
        </div>
    </div>


    <!-- SIDEBAR -->
    <aside class="sidebar">

        <h3 class="menu-title">Principal</h3>

        <nav class="menu">

            <a href="{{ url_for('dashboard') }}" class="menu-item">
                <i class="fa-solid fa-desktop"></i>                
                <span>Dashboard</span>
            </a>

            <div class="menu-item">
                <i class="fa-solid fa-users"></i>
                <span>Pacientes</span>
            </div>

            <div class="menu-item active">
                <i class="fa-solid fa-syringe"></i>
                <span>Vacunas</span>
            </div>

            <div class="menu-item">
                <i class="fa-solid fa-file-medical"></i>
                <span>Historial médico</span>
            </div>

            <div class="menu-item">
                <i class="fa-solid fa-calendar-check"></i>
                <span>Aplicaciones</span>
            </div>

        </nav>

        <div class="user-info">
            <div class="profile-small">RG</div>
            <div>
                <p class="user-name">{{ name }} {{ lastname }}</p>
                <p class="user-role">{{role}}</p>
            </div>
            <a href="/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>

    </aside>

    <!-- MAIN CONTENT -->
    <main class="content">
        <div class="content-info">
            <div class="content-header">
                <h2 class="title">Inventario de vacunas</h2>
                <button class="btn-agregar">
                    <i class="fa-solid fa-plus"></i>
                    Agregar vacuna
                </button>
            </div>
        
            <div class="total">
                Total de vacunas registradas: 48
            </div>
        
        
                <!-- SEARCH -->
            <div class="search-bar-container section">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar vacuna por nombre o id...">
            </div>

            <p  class="esquema">Ver esquema de vacunación</p>
        
                <!-- VACCINE LIST -->
            <div class="vaccine-section">
        
                <!-- VACCINE CARD -->
                <div class="vaccine-card">
                    <div class="card-header">
                        <div class="vaccine-info">
                            <div>
                                <h3>Influenza</h3>
                                <p class="vaccine-id">ID: V001 • Marca: Sanofi</p>
                            </div>

                            <div class="tag viral">Viral</div>
                        </div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
            
                    <div class="card-body">
                        <div class="details">
                            <p>
                                <strong>Prevención de gripe estacional</strong>
                            </p>
                            <p>
                                <i class="fa-solid fa-hourglass"></i>
                                Intervalo: Anual
                            </p>
                            <p>
                                <i class="fa-solid fa-prescription-bottle"></i>
                                Dosis: 0.25-0.5 ml intramuscular
                            </p>
                        </div>

                        <div class="extra">
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                Edad: 6 meses en adelante
                            </p>
                            <div class="stock text">
                                <i class="fa-solid fa-boxes-stacked"></i>
                                Stock:
                                <div class="stock high">250 - Alto</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vaccine-card">
                    <div class="card-header">
                        <div class="vaccine-info">
                            <div>
                                <h3>Hepatitis B</h3>
                                <p class="vaccine-id">ID: V002 • Marca: Pfizer</p>
                            </div>

                            <div class="tag viral">Viral</div>
                        </div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
            
                    <div class="card-body">
                        <div class="details">
                            <p>
                                <strong>Prevención de hepatitis B</strong>
                            </p>
                            <p>
                                <i class="fa-solid fa-hourglass"></i>
                                Intervalo: 0, 1 y 6 meses
                            </p>
                            <p>
                                <i class="fa-solid fa-prescription-bottle"></i>
                                Dosis: 0.5 ml intramuscular
                            </p>
                        </div>

                        <div class="extra">
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                Edad: 0-18 meses
                            </p>
                            <div class="stock text">
                                <i class="fa-solid fa-boxes-stacked"></i>
                                Stock:
                                <div class="stock high">200 - Alto</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vaccine-card">
                    <div class="card-header">
                        <div class="vaccine-info">
                            <div>
                                <h3>BCG</h3>
                                <p class="vaccine-id">ID: V003 • Marca: Serum Institute</p>
                            </div>

                            <div class="tag viral">Bacteriana</div>
                        </div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
            
                    <div class="card-body">
                        <div class="details">
                            <p>
                                <strong>Vacuna contra tuberculosis</strong>
                            </p>
                            <p>
                                <i class="fa-solid fa-hourglass"></i>
                                Intervalo: Única dosis al nacer
                            </p>
                            <p>
                                <i class="fa-solid fa-prescription-bottle"></i>
                                Dosis: 0.1 ml intramuscular
                            </p>
                        </div>

                        <div class="extra">
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                Edad: Recien nacidos
                            </p>
                            <div class="stock text">
                                <i class="fa-solid fa-boxes-stacked"></i>
                                Stock:
                                <div class="stock low">20 - Bajo</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vaccine-card">
                    <div class="card-header">
                        <div class="vaccine-info">
                            <div>
                                <h3>Neumococo</h3>
                                <p class="vaccine-id">ID: V004 • Marca: Pfizer-BioNTech</p>
                            </div>

                            <div class="tag viral">Viral</div>
                        </div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
            
                    <div class="card-body">
                        <div class="details">
                            <p>
                                <strong>Prevención de enfermedad por neumococo</strong>
                            </p>
                            <p>
                                <i class="fa-solid fa-hourglass"></i>
                                Intervalo: 2, 4 y 12 meses
                            </p>
                            <p>
                                <i class="fa-solid fa-prescription-bottle"></i>
                                Dosis: 0.3 ml intramuscular
                            </p>
                        </div>

                        <div class="extra">
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                Edad: 2 meses en adelante
                            </p>
                            <div class="stock text">
                                <i class="fa-solid fa-boxes-stacked"></i>
                                Stock:
                                <div class="stock medium">90 - Medio</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vaccine-card">
                    <div class="card-header">
                        <div class="vaccine-info">
                            <div>
                                <h3>Pentavalente</h3>
                                <p class="vaccine-id">ID: V005 • Marca: Sanofi Pasteur</p>
                            </div>

                            <div class="tag viral">Combinada</div>
                        </div>
                        <i class="fa-solid fa-trash"></i>
                    </div>
            
                    <div class="card-body">
                        <div class="details">
                            <p>
                                <strong>DPT + HiB + Hepatitis B</strong>
                            </p>
                            <p>
                                <i class="fa-solid fa-hourglass"></i>
                                Intervalo: 2, 4, 6 y 18 meses
                            </p>
                            <p>
                                <i class="fa-solid fa-prescription-bottle"></i>
                                Dosis: 0.5 ml intramuscular
                            </p>
                        </div>

                        <div class="extra">
                            <p>
                                <i class="fa-solid fa-calendar-days"></i>
                                Edad: 2 meses - 4 años
                            </p>
                            <div class="stock text">
                                <i class="fa-solid fa-boxes-stacked"></i>
                                Stock:
                                <div class="stock high">180 - Alto</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

</body>
</html>
