<aside class="sidebar">

    <h3 class="menu-title">Principal</h3>

    <nav class="menu">

        <a href="{{ url_for('dashboard') }}" class="menu-item {% if request.endpoint=='dashboard' %}active{% endif %}">
            <i class="fa-solid fa-desktop"></i>
            <span>Dashboard</span>
        </a>

        <a href="{{ url_for('pacientes') }}" class="menu-item {% if request.endpoint=='pacientes' %}active{% endif %}">
            <i class="fa-solid fa-users"></i>
            <span>Pacientes</span>
        </a>

        <a href="{{ url_for('vacunas_page') }}" class="menu-item {% if request.endpoint=='vacunas_page' %}active{% endif %}">
            <i class="fa-solid fa-syringe"></i>
            <span>Vacunas</span>
        </a>

        <a href="{{ url_for('historial') }}" class="menu-item {% if request.endpoint=='historial' %}active{% endif %}">
            <i class="fa-solid fa-file-medical"></i>
            <span>Historial médico</span>
        </a>

        <a href="{{ url_for('aplicaciones') }}" class="menu-item {% if request.endpoint=='aplicaciones' %}active{% endif %}">
            <i class="fa-solid fa-file-circle-plus"></i>
            <span>Aplicaciones</span>
        </a>

        <a href="{{ url_for('mapa_riesgo') }}" class="menu-item {% if request.endpoint=='mapa_riesgo' %}active{% endif %}">
            <i class="fa-solid fa-map"></i>
            <span>Mapa de riesgo</span>
        </a>

    </nav>

    <div class="user-info">
        <div class="profile-small">RG</div>
        <div>
            <p class="user-name">{{ name }} {{ lastname }}</p>
            <p class="user-role">{{ role }}</p>
        </div>
        <a href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </div>

</aside>