/* SEARCH */
input{
    font-size: 15px;
}



.content-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 3px;
    box-shadow:10px 10px 10px rgba(0,0,0,0.1);
}

.content-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:22px;
    margin-bottom:10px;
}

.btn-agregar{
    width: 40%;
    margin: 0;
}

.total{
    font-size: 15px;
    margin-bottom:25px;
    font-weight:600;
}

.search-bar-container.section{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}


.search-vaccine input{

width:100%;
height:45px;

border-radius:25px;
border:none;

padding-left:20px;

background:#E5E5E5;

margin-bottom:30px;

}

.esquema{
    text-align: center;
    margin: 30px;
    text-decoration: underline;
    letter-spacing: 1px;
    width: 100%;
    font-style: medium;
    font-weight: 500;
    color: var(--secondary-color);
}

/* VACCINE LIST */

.vaccine-section{
    display:flex;
    flex-direction:column;
    gap:15px;
}


/* VACCINE CARD */

.vaccine-card{
    border: var(--gray-stroke) solid 1px;
    border-radius:12px;
    padding:20px;
}


.card-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.vaccine-info{
    display:flex;
    gap:30px;
    align-items: first baseline;
}

.vaccine-id{
    color: var(--gray-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.details p{
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-header i{
    font-size: 0.8rem;
    color: black;
}

.card-header h3{
    font-size:18px;
}

.card-body{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.card-body p{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size:14px;
    margin-bottom:6px;
}

.extra{
    display:flex;
    flex-direction: column;
    gap:5px;
    height: fit-content;
    align-items: start;
}

/* TAGS */

.tag{

padding:5px 12px;

border-radius:15px;

font-size:13px;

}

.tag.viral{
background:#B9DAFF;
color:#0073A4;
}

.tag.bacteria{
background:#B9DAFF;
color:#0073A4;
}

.tag.combo{
background:#B9DAFF;
color:#0073A4;
}


/* STOCK */

.stock{
    display: flex;
    gap: 10px;
    align-items: center;
    padding:6px 12px;
    border-radius:15px;
    font-size:14px;
    width:fit-content;
}

.stock.text{
padding: 0;
}

.stock.high{
background:#CFFFC0;
color:#1D7B00;
}

.stock.medium{
background:#FFEEC0;
color:#C08D00;
}

.stock.low{
    background-color: var(--bad-background);
    color: var(--bad-color);
}
